.add-newsletter-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.add-newsletter-form input, textarea {
    width: 100%;
    padding: 10px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute; /* Make sure it overlays the image */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #002E6D;
}

.header-text{
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 50px;
}