<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nyhedsbreve</title>
    <link rel="stylesheet" href="../public/css/archives.css" th:href="@{css/archives.css}">
</head>
<body>

<div class="first-content">
    <div class="image-logo">
        <img src="../public/images/cph-hvid.webp" th:src="@{/images/cph-hvid.webp}" height="100" alt="Logo"/>
    </div>

    <div class="header-text">
        <p>Uddannelser</p>
        <p>Kurser</p>
        <p>Virksomheder</p>
        <p>Viden</p>
        <p>Om os</p>
        <a href="archives.html" th:href="@{archives}">
            <p>Nyhedsbrev</p>
        </a>

    </div>

    <div class="buttons-header">
        <a href="signIn.html" th:href="@{signIn}">Login</a>
    </div>
</div>

<div class="search-box">
    <h1>Nyhedsbreve</h1>

    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Søg efter nyhedsbreve...">
        <button type="submit">Søg</button>
    </form>
</div>


<!-- viser resultater -->
<h2 th:if="${keyword}">Søgeresultater for "<span th:text="${keyword}"></span>"</h2>


<br>
<!-- Vis alle nyhedsbreve hvis ingen søgninger -->
<h2 th:if="${keyword == null or keyword.isEmpty()}">Alle nyhedsbreve</h2>

<div th:if="${newsletters != null}">
    <div class="newsletter-wrapper">
        <div class="newsletter" th:each="newsletter : ${newsletters}">
            <p class="newsletter-title" th:text="${newsletter.title}"></p>
            <a th:href="@{'/pdf/' + ${newsletter.pdfFileName}}">
                <img th:src="@{'/pdf/' + ${newsletter.thumbnailFileName}}"/>
            </a>
            <p class="teaser" th:text="${newsletter.teaserText}"></p>
        </div>
    </div>

    <p th:if="${newsletters.isEmpty()}">Ingen resultater fundet.</p>
</div>

</body>
</html>
