<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/> <!--favicon-->
    <link rel="icon" type="image/png" href="../public/images/cph-logo.png">
    <link rel="stylesheet" href="public/css/styles.css"/>
</head>

<body>
<div class="header">

    <div class="image-logo">
        <img src="../public/images/cph-hvid.webp" height="100">
    </div>

    <div class="buttons-header">
        <a href="signIn.html">
            <button>Sign in</button>
        </a>

        <a href="archives.html" target="_blank">
            <button>Archive</button>
        </a>

    </div>
</div>

<!-- <h1>Nyhedsbrev</h1> -->

<div class="main-newsletter">

    <div class="main-newsletter-item">
        <a href="../public/pdf/06_Nyhedsbrev_FebMar_2025.pdf" target="_blank">
            <img src="../public/images/nyhedsbrev.png" height="600" alt="Open PDF">
        </a>

        <p>Praktiksøgning - Feb-Mar 2025</p>
    </div>

</div>

<div class="secondary-newsletter">
    <div class="secondary-newsletter-items">
        <div class="newsletter-item">
            <a>
                <img src="../public/images/nyhedsbrev.png" height="450">
            </a>
            <p class="newsletter-title">Titel - bla bla</p>
        </div>

        <div class="newsletter-item">
            <a>
                <img src="../public/images/nyhedsbrev - Dec-Jan.png" height="450">
            </a>
            <p class="newsletter-title">Titel - bla bla</p>
        </div>
    </div>
</div>


<footer class="footer">
    <p>&copy; 2025 Cphbusiness. All Rights Reserved.</p>
</footer>


</body>
</html>