<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/cph-logo.png}"/>
</head>

<body>
<div class="header">
    <div class="image-logo">
        <img src="../public/images/cph-hvid.webp" th:src="@{/images/cph-hvid.webp}" height="100" alt="Logo"/>
    </div>

    <div class="buttons-header">
        <a href="signIn.html" th:href="@{signIn}">Login</a>

        <a href="archives.html" th:href="@{archives}">Archives</a>
    </div>
</div>

<h2>Nyhedsbreve - arkiv</h2>

<div  th:unless="${newsletters == null}">
    <div class="newsletter-wrapper">
        <div class="newsletter" th:each="newsletter : ${newsletters}">
            <p class="newsletter-title" th:text="${newsletter.title}"></p>
            <a th:href="@{'/pdf/' + ${newsletter.pdfFileName}}">
                <img th:src="${'pdf/' + newsletter.thumbnailFileName}"/>
            </a>
            <p class="teaser" th:text="${newsletter.teaserText}"></p>
        </div>

    </div>
</div>




<div class="newsletter-signup">
    <form th:action="@{/newsletter/signup}" method="post">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>
        <input class="button" type="submit" value="Tilmeld">
    </form>

    <p th:if="${message}" style="color: green;">[[${message}]]</p>
    <p th:if="${error}" style="color: red;">[[${error}]]</p>
</div>


<footer class="footer">
    <p>&copy; 2025 Cphbusiness. All Rights Reserved.</p>
</footer>

</body>
</html>