<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../public/css/signIn.css">
</head>
<body>

<div class="header">
    <div class="image-logo">
        <img src="../public/images/cph-hvid.webp" height="100">
    </div>
</div>

<h2>Sign in</h2>

<form method="post">
    <!--Attributterne name = "username" og name = "password" sende med videre i formparametre, og skal bruge i vores UserController class -->
    <input type="text" name="username" placeholder="Enter your username"/> <!-- placeholder er tekst der står i username feltet, og forsvinder ved første indtastning-->
    <input type="password" name="password" placeholder="Enter your password"/> <!-- samme som ovenover, med tilføjelse af at indtastning bliver hemmeligholdt! -->

    <button type="submit" formaction="/login">Login</button>

    <div><p th:text="${message}"></p></div>
</form>


</body>
</html>
