<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../public/css/signIn.css">
</head>
<body>

<div class="header">

    <div class="image-logo">
        <img src="../public/images/cph-hvid.webp" height="100">
    </div>

</div>

<h2>Sign in</h2>
<form>
    <div class="login medium-padding">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe">
        <button class="button">Login</button>
        <br>
    </div>
</form>

</form>

</body>
</html>